// frontend-app-*/src/index.scss
@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$input-focus-box-shadow: $input-box-shadow; // hack to get upgrade to paragon 4.0.0 to work

@import "~@edx/frontend-component-footer/dist/_footer";

// compass variables
$c-blue: #2E6CD3;
$c-white: #fff;
$c-bg-color: #f4f7fd;
$c-border-radius: 10px;

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.alert.alert-info .alert-icon {
  color: black;
}

#root {
  // Removing a odd 1.5 scaling on checkboxes.:
  input[type=checkbox] {
    transform: none;
  }
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
    background-color: $c-bg-color;
  }

  header {
    flex: 0 0 auto;

    .logo {
      display: block;
      box-sizing: content-box;
      position: relative;
      top: 0.1em;
      height: 40px;
      margin-right: 1rem;
      img {
        display: block;
        height: 100%;
      }
    }
  }

  footer {
    flex: 0;
  }
}

#paragon-portal-root {
  .pgn__modal-layer {
    .pgn__modal-close-container {
      right: 1rem !important;
    }
  }
  .confirm-modal .pgn__modal-body {
    overflow: hidden;
  }
}

// compass

.btn {
  border-radius: $c-border-radius !important;
  transition: background-color $c-transition-time $c-transition-type;

  &.btn-primary {
    background-color: $c-blue !important;
    border-color: $c-blue !important;

    &:hover {
      background-color: darken($c-blue, 10%) !important;
      border-color: darken($c-blue, 10%) !important;
    }

    &:focus {
      &::before {
        border: 1px solid $c-blue;
      }
    }
  }

  &.btn-outline-primary {
    background-color: $c-white;
    border: 1px solid $c-blue;
    color: $c-blue;

    &:hover {
      border: 1px solid $c-blue;
      color: $c-blue;
    }

    &:focus {
      &::before {
        border: 2px solid $c-blue;
      }
    }
  }
}