@import "../../assets/styles/compass-variables";

.dropdown-menu-collapse {
  width: 100vw;
  position: absolute;
  left: 0;
}

.learner-variant-header {
  a {
    color: $c-main-gray;
    border-bottom: 2px solid transparent !important;
  }

  .course-link {
    font-weight: 700;

    &:hover {
      border-bottom: 2px solid $c-blue !important;
    }
  }

  .btn {
    border-radius: 0 !important;
  }
}

.nav-small-menu {
  > * {
    justify-content: flex-start !important;

    border-radius: 0 !important;
    border-top: 1px solid #ddd !important;

    &::after {
      content: '\00BB';
      padding-left: 10px;
    }
  }
}

.logo {
  // copy from legacy dashboard
  height: 40px;
}
